* {
    color: white;
    font-family: verdana,helvetica,arial,sans-serif;
    text-decoration: none;
}

body {
    background: #222222;
}

a:hover {
    text-decoration: underline;
}

.index {
    width: 800px;
    margin: 30px auto;
    padding: 10px;
    border-radius: 10px;
    background: url('img/background/transparent-black.png');
    border: 1px solid #CCCCCC;
}

.index ul {
    list-style-type: none;
    background: url('img/background/transparent-black.png');
    padding: 3px 3px 3px 10px;
    border-radius: 3px;
    border: 1px solid #333333;
}

.index ul li {
    line-height: 1.7em;
}

img {
    margin-bottom: -3px;
    margin-right: 10px;
}

.index ul li.folder {
    font-weight: bold;
}
